<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="CSET" Version="12.4.0.9" Manufacturer="CISA" UpgradeCode="a82795a3-c4b1-4330-b498-f4b661080963">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="License.rtf"
        ThemeFile="RtfTheme.xml"
        LocalizationFile="RtfTheme.wxl"
      />
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="NetFx48Web" />
      <MsiPackage Id="CSET" SourceFile="CsetInstaller.msi" />
    </Chain>
  </Bundle>
</Wix>