<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="CSET" Language="1033" Version="12.4.0.4" Manufacturer="CISA" UpgradeCode="a82795a3-c4b1-4330-b498-f4b661080963">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="CSET" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="CSET" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="CSETWebCore.Api.exe" Guid="*">
        <File Id="CSETWebCore.Api.exe" Source="..\CSETWebApi\CSETWeb_Api\CSETWeb_ApiCore\bin\Release\net7.0\CSETWebCore.Api.exe" KeyPath="yes" />
      </Component>
      <Component Id="appsettings.json" Guid="*">
        <File Id="appsettings.json" Source="..\CSETWebApi\CSETWeb_Api\CSETWeb_ApiCore\bin\Release\net7.0\appsettings.json" KeyPath="yes" />
      </Component>
      <Component Id="index.html" Guid="*">
        <File Id="index.html" Source="..\CSETWebNg\dist\index.html" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>